<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.mapper.OplogMapper">
  <resultMap id="BaseResultMap" type="com.hrms.entity.Oplog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addDate" jdbcType="TIMESTAMP" property="addDate" />
    <result column="operate" jdbcType="VARCHAR" property="operate" />
    <result column="hrid" jdbcType="BIGINT" property="hrid" />
    <result column="hrName" jdbcType="VARCHAR" property="hrName" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>

  <sql id="selectSql">
    id,addDate,operate,hrid,ip
  </sql>

  <!--根据条件查询-->
  <select id="getOplogBydate" resultMap="BaseResultMap" parameterType="java.lang.String">
    select op.id,
           op.addDate,
           op.operate,
           op.hrid,
           h.`name` hrName,
           op.ip
    from oplog op LEFT JOIN hr h on h.id = op.hrid
    <where>
      <if test="addDate != null and addDate != ''">
        and op.addDate <![CDATA[>= ]]> str_to_date(concat(#{addDate,jdbcType=VARCHAR},' 00:00:00'), '%Y-%m-%d %H:%i:%s')
      </if>
      <if test="addDate != null and addDate != ''">
        and op.addDate <![CDATA[<= ]]> str_to_date(concat(#{addDate,jdbcType=VARCHAR},' 23:59:59'), '%Y-%m-%d %H:%i:%s')
      </if>
      <if test="hrName != null and hrName != ''">
        and h.name = #{hrName,jdbcType=VARCHAR}
      </if>
      <if test="IP != null and IP != ''">
        and op.ip = #{IP,jdbcType=VARCHAR}
      </if>
    </where>
    order by op.addDate desc
  </select>

  <!--查询所有-->
  <select id="getOplogByPage" resultMap="BaseResultMap">
    select
    <include refid="selectSql"/>
    from oplog op order by op.addDate desc
  </select>
</mapper>